
<div class="questio"ngit>
  <div class="grey"></div>
  <p><%= @question %></p>
  <p><i>-You</i></p>
</div>

<div class="answer">
  <div class="grey"></div>
  <p><%= @answer %></p>
  <p><i>-Coach</i></p>
</div>

<%= link_to "Ask a new question", ask_path %>
